<div style="padding-top:20px">Please review the following details for transaction.</div>
<table class="ui celled table segment">
    <thead>
        <tr><th>Option</th>
        <th>Name</th>
        <th>Price</th></tr>
    </thead>
    <tbody>
        {{{name}}}
    </tbody>
</table>

<h1>Billing Information</h1>

<form class="ui form segment" data-xhr="true" method="post" action="/Registration/form/payment">
    
    <div class="ui warning message">
        <div class="header">Error in form:</div>
        <ul class="list"></ul>
    </div>

    <div class="ui small form segment">
        <div class="two fields">
            <div class="field">
              <label>First Name</label>
              {{{first_name}}}
            </div>
            <div class="field">
              <label>Last Name</label>
              {{{last_name}}}
            </div>
        </div>
        <div class="field">
            <label>Email</label>
            {{{email}}}
        </div>
        <div class="field">
            <label>Street Address</label>
            {{{address}}}
        </div>
        <div class="field">
            <label>Street Address Continued</label>
            {{{address2}}}
        </div>
        <div class="field">
            <label>Phone Number</label>
            {{{telephone}}}
        </div>
        <div class="three fields">
            <div class="field">
              <label>City</label>
              {{{city}}}
            </div>
            <div class="field">
              <label>State</label>
              {{{state}}}
            </div>
            <div class="field">
              <label>Zipcode</label>
              {{{zipcode}}}
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Card Type</label>
                {{{card_type}}}
            </div>
            <div class="field">
                <label>Card Number</label>
                {{{credit_card}}}
            </div>
        </div>
        <div class="three fields">
            <div class="date field">
              <label>Expiration Year</label>
              {{{#MongoDate format="y" field="expiration_date"}}}
            </div>
            <div class="date field">
              <label>Expiration Month</label>
              {{{#MongoDate format="m" field="expiration_date"}}}
            </div>
            <div class="field">
              <label>Security Code (CVC)</label>
              {{{security_code}}}
            </div>
          </div>
          {{{event_slug}}}
          {{{id}}}
        <div class="ui blue small submit button">Submit</div>
      </div>

</form>